
<div class="container" style="height: 100%;">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow p-5">
                <h2 class="text-center">Tashkilot Nomi: {{malumot.name}}</h2>
                <h5 class="my-3">Tashkil etilgan sana: <span class="text-muted">{{malumot.date_established|date}}</span></h5>
                <h5 class="my-3">Rahbarning ismi-sharifi: <span class="text-muted">{{malumot.director}}</span></h5>
                <h5 class="my-3">Telefon raqam: <span class="text-muted">{{malumot.phoneNumber}}</span></h5>
                <h5 class="my-3">Tashkilot manzili: <span class="text-muted">{{malumot.t_address}}</span></h5>
                <h5 class="my-3">Tashkilot INNsi: <span class="text-muted">{{malumot.t_inn}}</span></h5>
                <h5 class="my-3">Tashkilot SHXR: <span class="text-muted">{{malumot.t_shxr}}</span></h5>
                <h5 class="my-3">Tashkilot maydoni: <span class="text-muted">{{malumot.t_area}}</span></h5>
                <h5 class="my-3">Tashkilot investitsiyasi: <span class="text-muted">{{malumot.t_investitsiya}}</span></h5>
                <h5 class="my-3">Tashkilotdagi xodimlar soni: <span class="text-muted">{{malumot.t_xodimlar}}</span></h5>
                <h5 class="my-3">Export (summa): <span class="text-muted">{{malumot.export}} $</span></h5>
                <h5 class="my-3">Import (summa): <span class="text-muted">{{malumot.import_price}} $</span></h5>
            </div>
        </div>
    </div>
</div>